@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.click:active {
    transform: scale(0.89);
}

#landing {
    height: 100vh;
}

.blue {
    color: rgb(41, 68, 82);
}

/*

NAV BAR

*/

.nav__logo {
    height: 60px;
}

.nav__container {
    padding: 0 50px;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    font-weight: bold;
    font-size: 18px;
    color: black;
    position: relative;
}

.nav__link--btn {
    color: white;
    padding: 12px 36px;
    background-color: rgb(41, 68, 82);
    border-radius: 50px;
    transition: background-color 300ms ease;
}

.nav__link--btn:hover {
    background-color: gray;
}

.link__hover-effect::after {
    content: "";
    height: 3px;
    background-color: #242424;
    width: 0;
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover::after {
    width: 100%;
    left: 0;
}

.link__hover-effect--blue::after {
    background-color: rgb(41, 68, 82, 0.5);
}

.link__hover-effect--blue{
    color: rgb(41, 68, 82, 0.5);
}


/*

HEADER

*/

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    max-width: 730px;
    margin: 0 auto;
}

.header__content--text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}

.header__title {
    color: rgb(41, 68, 82);
    margin-bottom: 30px;
    animation: fadeUp 1000ms 500ms backwards;
}

@keyframes fadeUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header__sub-title {
    margin-bottom: 40px;
    animation: fadeUp 1000ms 800ms backwards;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    animation: fadeUp 1000ms 1200ms backwards;
}

.header__input,
.header__btn {
    border-radius: 16px;
}


.header__input {
    padding: 0 15px 0 25px;
    height: 60px;
    font-size: 24px;
    width: 80%;
    border: 1px solid #242424;
}

.header__input:focus {
    box-shadow: 0 0 10 1px rgb(41, 68, 82);
}

.header__btn {
    width: 18%;
    border: 0;
    background-color: rgb(41, 68, 82);
    box-shadow: 7px 7px 14px rgb(41 68 82 / 30%);
    cursor: pointer;
    transition: background-color 200ms ease, transform 300ms ease;
}

.btn__hover-effect:hover {
    background-color: gray;
}

.fa-search {
    color: white;
    font-size: 32px;
}

.header__img--wrapper{
    height: 50%;
    padding-bottom: 20px;
}


.header__img {
    height: 100%;
    animation: popUp 1000ms 600ms backwards;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    70% {
        opacity: 0.9;
        transform: scale(1.07);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/*

OVERLAY

*/

.link__hover-effect--white {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.link__hover-effect--white::after {
    background-color: white;
}

.overlay {
    height: 326px;
    position: relative;
}

.overlay:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./Assets/movies__background.jpeg);;
    z-index: -1;
    filter: brightness(30%)   
}

.overlay__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.overlay__content--text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    margin-top: 32px;
    width: 100%;
}

.overlay__title {
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 2.5px;
}

.overlay__sub-title {
    margin-bottom: 40px;
}

.overlay__input {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
}

.input__wrapper--overlay {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.fa-search__overlay {
    position: absolute;
    color: rgb(41, 68, 82);
    right: 20px;
    top: 14px;
    cursor: pointer;
    transition: all 300ms ease;
}

.fa-search__overlay:hover {
    color: gray;
}

/* 

Search results

*/

#search {
    padding: 32px 40px;
}

#filter {
    padding: 8px 16px;
    border-radius: 8px;
}

#filter:hover {
    border: 1px solid;
    border-color: rgb(41, 68, 82);
    background-color: aliceblue;
}

.search__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.search__text {
    font-size: 28px;
    font-weight: 700;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.movie__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie__img {
    border-radius: 16px;
    width: 100%;
    transition: filter 300ms ease;
}

.movie {
    margin-bottom: 32px;
    width: 30%;
    position: relative;
    overflow: hidden;
}

.movie__description {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-40%, -50%);
    color: white;
    max-width: 250px;
    opacity: 0;
    transition: all 300ms ease;
}

.movie:hover .movie__img{
    filter: brightness(30%);
}

.movie:hover .movie__description{
    opacity: 1;
    top: 50%;
}

.fa-star {
    font-size: 16px;
}


.movies__loading--spinner {
    font-size: 80px;
    color: rgb(41, 68, 82);
    position: absolute;
    left: 50%;
    top: 70%;
    animation: spinning 800ms linear infinite;
    visibility: hidden;
}

.movies__loading--slide {
    position: absolute;
    top: 326px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: rgba(47, 34, 235, 0.5);
    visibility: hidden;
}

.movies__loading--slide-move {
    position: absolute;
    top: 326px;
    width: 250px;
    height: 5px;
    background-color: rgba(47, 34, 235);
    animation: sliding 800ms infinite linear;
    visibility: hidden;
}

@keyframes sliding {
    0% {
        left: 0;
        right: 250px;
    }

    30% {
        left: calc(100% - 250px);
        right: 0;
    }

    50% {
        left: 0;
        right: 250px;
    }

    100% {
        left: calc(100% - 250px);
        right: 0;
    }
}

.loading__state .movies__loading--spinner {
    visibility: visible;
}

.loading__state .movies__loading--slide,
.loading__state .movies__loading--slide-move {
    visibility: visible;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width: 1020px) {
    
    .movie__description {
        text-align: center;
    }
    
    .movie__title {
        font-size: 20px;
    }
    
    .movie__synopsis {
        display: none;
    }
}